walkstreets-ios/Pods/Pods.xcodeproj/xcuserdata/drougojrom.xcuserdatad/xcschemes/Alamofire.xcscheme
walkstreets-ios/Pods/Pods.xcodeproj/xcuserdata/drougojrom.xcuserdatad/xcschemes/Pods-walkstreets-ios.xcscheme
walkstreets-ios/Pods/Pods.xcodeproj/xcuserdata/drougojrom.xcuserdatad/xcschemes/PureLayout.xcscheme
walkstreets-ios/Pods/Pods.xcodeproj/xcuserdata/drougojrom.xcuserdatad/xcschemes/Spring.xcscheme
walkstreets-ios/Pods/Pods.xcodeproj/xcuserdata/drougojrom.xcuserdatad/xcschemes/SwiftyJSON.xcscheme
walkstreets-ios/Pods/Pods.xcodeproj/xcuserdata/drougojrom.xcuserdatad/xcschemes/UIScrollView-InfiniteScroll.xcscheme
walkstreets-ios/Pods/Pods.xcodeproj/xcuserdata/drougojrom.xcuserdatad/xcschemes/Whisper.xcscheme
walkstreets-ios/Pods/Pods.xcodeproj/xcuserdata/drougojrom.xcuserdatad/xcschemes/xcschememanagement.plist
