<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.1</string>
	<key>CFBundleVersion</key>
	<string>17</string>
	<key>Fabric</key>
	<dict>
		<key>APIKey</key>
		<string>18d051be1a4381947d54cf113e55232abc9f408d</string>
		<key>Kits</key>
		<array>
			<dict>
				<key>KitInfo</key>
				<dict/>
				<key>KitName</key>
				<string>Crashlytics</string>
			</dict>
		</array>
	</dict>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>MGLMapboxAccessToken</key>
	<string>pk.eyJ1Ijoid2Fsa21hcCIsImEiOiJjaXI0d285eXIwMDR1aHRtOWQ3YWE3d2JtIn0.pqyo1f-gocUK9i819vmQBQ</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Please, give location</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Please, give location</string>
	<key>UIAppFonts</key>
	<array>
		<string>VremenaGroteskMedium.otf</string>
		<string>VremenaGroteskBook.otf</string>
		<string>VremenaGroteskBold.otf</string>
		<string>VremenaGrotesk.otf</string>
	</array>
	<key>UIApplicationShortcutItems</key>
	<array>
		<dict>
			<key>UIApplicationShortcutItemIconFile</key>
			<string>getBack</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Get back</string>
			<key>UIApplicationShortcutItemType</key>
			<string>com.walkstreets-ios.app.Walkstreets.getBack</string>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemIconFile</key>
			<string>routeCreation_search</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Address</string>
			<key>UIApplicationShortcutItemType</key>
			<string>com.walkstreets-ios.app.Walkstreets.showAddress</string>
		</dict>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>location</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
</dict>
</plist>
